@import 'common.scss';


header{
    position: relative;
    height: 80px;
    nav{
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: var(--primary-color);
        .container{
            height: inherit;
        }
        .navbar-menu{
            ul li:not(:last-child){
                margin-right: var(--padding-68);
            }
            .gnb-menu{
                position: relative;
                padding: var(--margin-10) var(--margin-2);
                &::after{
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: var(--secondary-scale01);
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.3s;
                }
                &:hover {
                    &:after {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }
        }
        .navbar-toggle{
            width: 36px;
            height: 24px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: var(--secondary-scale01);
                border-radius: 10px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2), &:nth-child(3){
                    top: 10px;
                }
                &:nth-child(4){
                    top: 20px;
                }         
            }
            &.open{
                span{
                    &:nth-child(1){
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4){
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
}

.sub-kv{
    padding-top: var(--padding-120);
    padding-bottom: var(--padding-76);
}
.sub02-section02{
    padding-top: var(--padding-76);
    padding-bottom: var(--padding-76);

    .sec02-slide_title{
        margin-bottom: var(--padding-42);
    }
    .slick-dots{
        position: static;
        margin-top: var(--margin-24);
    }
    .slick-dots li button:before{
        font-size: var(--font-size-12);
        color: var(--font-scale03);
    }
    .slick-dots li.slick-active button:before{
        color: var(--primary-color);
    }
}
.sub02-section03{
    padding-top: var(--padding-76);
    padding-bottom: var(--padding-120);

    .sec03-gallery_title{
        margin-bottom: var(--padding-42);
    }
}


.pick-list{
    position: relative;
    overflow: hidden;
}
.pick-bg_text{
    position: absolute;
    transition: all 0.4s;
    bottom: -40%;
}
.product-info_tag{
    /*width: 70%;*/
    margin: auto;
}

.pick-list:hover .pick-bg_text{
    bottom: 40%;
}
.pick-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, .8);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.pick-list:hover .pick-bg{
    opacity: 1;
}


.test{
    font-size: 24px;
}
.product-info_tag{
    padding: var(--margin-4) var(--margin-10);
    border-radius: 20px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-400);
    color: var(--secondary-scale01);
    &.hashtag02{
        background-color: var(--primary-color);
    }
    margin-bottom: var(--margin-14);
}
.pick-bg_text{
    .product-info_price{
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-500);
        letter-spacing: var(--letter-spacing);
        color: var(--secondary-scale01);
    }
    .product-info_title{
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-400);
        color: var(--secondary-scale01);
        margin-bottom: var(--margin-2);
    }
}




footer {
    background-color: var(--primary-color);
    .row{
        gap: var(--margin-24);
    }
    .footer-content__text{
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-200);
        letter-spacing: var(--letter-spacing);
        color: var(--font-scale03);
    }
    .footer-content_top{
        column-gap: var(--margin-24);
        row-gap: var(--margin-8);
        margin-top: var(--margin-20);
        span {
            font-weight: var(--font-weight-400);
        }
    }
    .footer-content_bottom {
        .content_bottom__title {
            font-size: var(--font-size-26);
            font-weight: var(--font-weight-400);
            letter-spacing: var(--letter-spacing);
            color: var(--secondary-scale02);
        }
        .content-bottom__icon {
            margin-top: var(--margin-18);
            gap: var(--margin-12);
            img {
                cursor: pointer;
            }
        }
    }
}



@media(max-width:1199.98px){
    footer {
        .footer-content_top{
            column-gap: var(--margin-16);
        }
    }
    
}

@media (max-width: 991.98px){
    header{
        nav{
            .navbar-menu{
                ul li:not(:last-child){
                    margin-right: var(--padding-48);
                }
            }
        }
    }

}

@media (max-width:767.98px){
    header{
        nav{
            .navbar-menu{
                background-color: var(--primary-color);
                transition: all .3s ease-in-out;
                display: none;
                &.active{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: calc(100vh - 80px);
                    left: 0;
                    top: 80px;
                    ul{
                        flex-direction: column;
                        width: 540px;
                        margin: 0 auto;
                        padding: 0 var(--margin-12);
                        li:first-child{
                        margin-top: var(--padding-48);
                        }
                        li:not(:first-child){
                            margin-top: var(--margin-24);
                        }
                        .gnb-menu{
                            font-size: var(--font-size-20);
                        }
                    }
                    .navbar-social{
                        margin-top: var(--padding-54);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    footer {
        .footer-content_logo{
            text-align: center;
        }
        .footer-content_top{
            justify-content: center;
        }
    }
}

@media(max-width:575.98px){

}