@font-face {
  font-family: 'NanumMyeongjo';
  src: url('../fonts/NanumMyeongjo.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NanumMyeongjo';
  src: url('../fonts/NanumMyeongjoExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}
@font-face {
  font-family: 'Notera2';
  src: url('../fonts/Notera2-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// color
$black-color: #222222;
$gray-color: #FAFAFA;
$white-color: #FEFDFD;
$quote-color: #D3B3A7;
$accent-color: #BA4A21;
$tag-bg-color: #702C14;

:root{
  // font type
  --primary-fontType: 'NanumMyeongjo', serif;
  --secondary-fontType: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  --quote-fontType: 'Notera2', cursive;

  // type scale
  --font-body-xxl: 1.25rem;  /* 20px */
  --font-body-xl: 1.125rem;  /* 18px */
  --font-body-lg: 1rem;      /* 16px */
  --font-body-md: 0.875rem;  /* 14px */
  --font-body-sm: 0.75rem;   /* 12px */
  --font-body-xs: 0.625rem;  /* 10px */

  --letter-spacing01: -1px;
  --letter-spacing02: -.5px;
  --letter-spacing03: .5px;
  --letter-spacing04: 1px;

  --line-height01: 1.4;
  --line-height02: 1.6;
  --line-height03: 2;

  --font-weight-R: 400;
  --font-weight-M: 500;
  --font-weight-S: 600;
  --font-weight-B: 800;

  // color
  --black-color: #{$black-color};
  --gray-color: #{$gray-color};
  --white-color: #{$white-color};
  --quote-color: #{$quote-color};
  --accent-color: #{$accent-color};
  --tag-bg-color: #{$tag-bg-color};

  // margin
  --margin-2: 0.125rem;  /* 2px */
  --margin-4: 0.25rem;   /* 4px */
  --margin-6: 0.375rem;  /* 6px */
  --margin-8: 0.5rem;    /* 8px */
  --margin-10: 0.625rem; /* 10px */
  --margin-12: 0.75rem;  /* 12px */
  --margin-16: 1rem;     /* 16px */
  --margin-18: 1.13rem;  /* 18px */

  // gap
  --gap-gutter: 1.5rem; /* 24px */

  // img border-radius
  --borderRadius-15: 15px;
  --borderRadius-20: 20px;
}

html { scroll-behavior: smooth; }
body { font-family: var(--secondary-fontType); }
.img__border { border-radius: var(--borderRadius-20); }

h2, h3, h4, h5, h6, p, a, ul, li, article { margin: 0; padding: 0; }
a { text-decoration: none;}
ul, li { list-style: none; }
button { margin: 0; padding: 0; background: none; border: none; outline: none; }

// type scale
$type-scale: (
  slide__title: (
    font-size: (
      xxs: 1.375rem,  // 22px
      xs: 1.875rem,   // 30px
      sm: 2.125rem,   // 34px
      md: 2.625rem,   // 42px
      lg: 3rem,       // 48px
      xl: 3.375rem,   // 54px
      xxl: 3.875rem   // 62px
    ),
    font-weight: 800,
    line-height: 1.4,
    letter-spacing: 0px
  ),
  slide__subTitle: (
    font-size: (
      xxs: 1.125rem,  // 18px
      xs: 1.5rem,     // 24px
      sm: 1.625rem,   // 26px
      md: 2rem,       // 32px
      lg: 2.375rem,   // 38px
      xl: 2.625rem,   // 42px
      xxl: 3rem       // 48px
    ),
    font-weight: 400,
    line-height: 1.4,
    letter-spacing: -1px
  ),
  main__sectionTitle: (
    font-size: (
      xxs: 1.125rem,  // 18px
      xs: 1.5rem,     // 24px
      sm: 1.625rem,   // 26px
      md: 1.75rem,    // 28px
      lg: 2rem,       // 32px
      xl: 2.25rem,    // 36px
      xxl: 2.375rem   // 38px    
      ),
      font-weight: 800,
      line-height: 1.4,
      letter-spacing: 0px
    ),
  sub__sectionTitle: (
    font-size: (
      xxs: 1.25rem,   // 20px
      xs: 1.625rem,   // 26px
      sm: 1.75rem,    // 28px
      md: 2rem,       // 32px
      lg: 2.375rem,   // 38px
      xl: 2.625rem,   // 42px
      xxl: 3rem       // 48px    
    ),
    font-weight: 600,
    line-height: 1.6,
    letter-spacing: 0px
  ),
  sub__sectionSubTitle: (
    font-size: (
      xxs: .88rem,    // 14px
      xs: 1rem,       // 16px
      sm: 1.13rem,    // 18px
      md: 1.25rem,    // 20px
      lg: 1.38rem,    // 22px
      xl: 1.5rem,     // 24px
      xxl: 1.625rem   // 26px    
    ),
    font-weight: 400,
    line-height: 1.6,
    letter-spacing: -.5px
  ),
  body__scale01: (
    font-size: (
      xxs: 0.875rem,  // 14px
      lg: 1rem,       // 16px
      xxl: 1.125rem   // 18px  
    ),
    font-weight: 600,
    line-height: 1.6,
    letter-spacing: -.5px
  ),
  body__scale02: (
    font-size: (
      xxs: 0.75rem,   // 12px
      lg: 0.875rem,   // 14px
      xxl: 1rem       // 16px
    ),
    font-weight: 400,
    line-height: 1.4,
    letter-spacing: -.5px
  )
);

@mixin type-scale($key) {
  $style: map-get($type-scale, $key);
  $sizes: map-get($style, font-size);
  $weight: map-get($style, font-weight);
  $height: map-get($style, line-height);
  $spacing: map-get($style, letter-spacing);

  font-size: map-get($sizes, xxs);
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;

  @media (min-width: 380px) and (max-width: 575.98px){
    @if map-get($sizes, xs) {
      font-size: map-get($sizes, xs);
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px){
    @if map-get($sizes, sm) {
      font-size: map-get($sizes, sm);
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    @if map-get($sizes, md) {
      font-size: map-get($sizes, md);
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    @if map-get($sizes, lg) {
      font-size: map-get($sizes, lg);
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.98px){
    @if map-get($sizes, xl) {
      font-size: map-get($sizes, xl);
    }
  }
  @media (min-width: 1400px) {
    @if map-get($sizes, xxl) {
      font-size: map-get($sizes, xxl);
    }
  }
}

.sub {
  &__sectionTitle {
    @include type-scale(sub__sectionTitle);
  }
  &__sectionSubTitle {
    @include type-scale(sub__sectionSubTitle);
  }
}
.body {
  &__scale01 {
    @include type-scale(body__scale01);
    margin-top: var(--margin-8);

    @media (max-width: 1200px) {
      margin-top: var(--margin-4);
    }
  }
  &__scale02 {
    @include type-scale(body__scale02);
  }
}

// section padding-top
$sec-paddingTop: (
  main--header: (
    xs: 3.25rem,   // 52px
    sm: 4.125rem,  // 66px
    md: 4.875rem,  // 78px
    lg: 5.75rem,   // 92px
    xl: 6.25rem,   // 100px
    xxl: 7.5rem    // 120px
  ),
  spacing--pt01: (
    xs: 2.625rem,  // 42px
    sm: 3rem,      // 48px
    md: 3.625rem,  // 58px
    lg: 4.25rem,   // 68px
    xl: 4.5rem,    // 72px
    xxl: 5.5rem    // 88px
  ),
  spacing--pt02: (
    xs: 3.375rem,  // 54px
    sm: 3.875rem,  // 62px
    md: 4.75rem,   // 76px
    lg: 5.25rem,   // 84px
    xl: 6.125rem,  // 98px
    xxl: 6.5rem    // 104px
  ),
  spacing--pt03: (
    xs: 4.875rem,  // 78px
    sm: 5.625rem,  // 90px
    md: 6.375rem,  // 102px
    lg: 7.125rem,  // 114px
    xl: 8rem,      // 128px
    xxl: 8.875rem  // 142px
  ),
  spacing--pt04: (
    xs: 5.25rem,   // 84px
    sm: 6rem,      // 96px
    md: 7.125rem,  // 114px
    lg: 8.5rem,    // 136px
    xl: 9rem,      // 144px
    xxl: 11rem     // 176px
  )
);
@mixin sec-paddingTop($key) {
  $paddingTop: map-get($sec-paddingTop, $key);

  padding-top: map-get($paddingTop, xs);

  @media (min-width: 576px) and (max-width: 767.98px){
    padding-top: map-get($paddingTop, sm);
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    padding-top: map-get($paddingTop, md);
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    padding-top: map-get($paddingTop, lg);
  }
  @media (min-width: 1200px) and (max-width: 1399.98px){
    padding-top: map-get($paddingTop, xl);
  }
  @media (min-width: 1400px) {
    padding-top: map-get($paddingTop, xxl);
  }
}

// section padding-bottom
$sec-paddingBottom: (
  main--footer: (
    xs: 5.5rem,    // 88px
    sm: 6.75rem,   // 108px
    md: 7.5rem,    // 120px
    lg: 8.25rem,   // 132px
    xl: 9.25rem,   // 148px
    xxl: 10rem     // 160px
  ),
  spacing--pb01: (
    xs: 2.625rem,  // 42px
    sm: 3rem,      // 48px
    md: 3.625rem,  // 58px
    lg: 4.25rem,   // 68px
    xl: 4.5rem,    // 72px
    xxl: 5.5rem    // 88px
  ),
  spacing--pb02: (
    xs: 3.375rem,  // 54px
    sm: 3.875rem,  // 62px
    md: 4.75rem,   // 76px
    lg: 5.25rem,   // 84px
    xl: 6.125rem,  // 98px
    xxl: 6.5rem    // 104px
  ),
  spacing--pb03: (
    xs: 4.875rem,  // 78px
    sm: 5.625rem,  // 90px
    md: 6.375rem,  // 102px
    lg: 7.125rem,  // 114px
    xl: 8rem,      // 128px
    xxl: 8.875rem  // 142px
  ),
  spacing--pb04: (
    xs: 5.25rem,   // 84px
    sm: 6rem,      // 96px
    md: 7.125rem,  // 114px
    lg: 8.5rem,    // 136px
    xl: 9rem,      // 144px
    xxl: 11rem     // 176px
  )
);
@mixin sec-paddingBottom($key) {
  $paddingBottom: map-get($sec-paddingBottom, $key);

  padding-bottom: map-get($paddingBottom, xs);

  @media (min-width: 576px) and (max-width: 767.98px){
    padding-bottom: map-get($paddingBottom, sm);
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    padding-bottom: map-get($paddingBottom, md);
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    padding-bottom: map-get($paddingBottom, lg);
  }
  @media (min-width: 1200px) and (max-width: 1399.98px){
    padding-bottom: map-get($paddingBottom, xl);
  }
  @media (min-width: 1400px) {
    padding-bottom: map-get($paddingBottom, xxl);
  }
}

.main {
  &--header {
    @include sec-paddingTop(main--header);
  }
  &--footer {
    @include sec-paddingBottom(main--footer);
  }
}
.spacing {
  &--pt01 {
    @include sec-paddingTop(spacing--pt01)
  }
  &--pt02 {
    @include sec-paddingTop(spacing--pt02)
  }
  &--pt03 {
    @include sec-paddingTop(spacing--pt03)
  }
  &--pt04 {
    @include sec-paddingTop(spacing--pt04)
  }

  &--pb01 {
    @include sec-paddingBottom(spacing--pb01)
  }
  &--pb02 {
    @include sec-paddingBottom(spacing--pb02)
  }
  &--pb03 {
    @include sec-paddingBottom(spacing--pb03)
  }
  &--pb04 {
    @include sec-paddingBottom(spacing--pb04)
  }
}

// content margin
$margin-bottom: (
  title-mb__main: (
    xs: 0.75rem,   // 12px
    sm: 1rem,      // 16px
    md: 1.25rem,   // 20px
    lg: 1.5rem,    // 24px
    xl: 1.875rem,  // 30px
    xxl: 2rem      // 32px
  ),
  title-mb__sub: (
    xs: 1rem,      // 16px
    sm: 1.25rem,   // 20px
    md: 1.625rem,  // 26px
    lg: 2.125rem,  // 34px
    xl: 2.375rem,  // 38px
    xxl: 2.625rem  // 42px
  )
);
@mixin margin-bottom($key) {
  $marginBottom: map-get($margin-bottom, $key);

  margin-bottom: map-get($marginBottom, xs);

  @media (min-width: 576px) and (max-width: 767.98px){
    margin-bottom: map-get($marginBottom, sm);
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    margin-bottom: map-get($marginBottom, md);
  }
  @media (min-width: 992px) and (max-width: 1199.98px){
    margin-bottom: map-get($marginBottom, lg);
  }
  @media (min-width: 1200px) and (max-width: 1399.98px){
    margin-bottom: map-get($marginBottom, xl);
  }
  @media (min-width: 1400px) {
    margin-bottom: map-get($marginBottom, xxl);
  }
}
.title-mb {
  &__main {
    @include margin-bottom(title-mb__main);
  }
  &__sub {
    @include margin-bottom(title-mb__sub);
  }
}
.sub__padding-12 {
  padding: 0 var(--margin-12);
}

// tab component
.tab {
  &-icon {
    width: 65%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background: var(--gray-color);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--margin-8);
  
    transition: all .5s;
    cursor: pointer;
    color: var(--black-color);
  
    &:hover, &.active {
      background: var(--black-color);
      color: var(--white-color);
      img{
        filter: invert(99%) sepia(100%) saturate(1%) hue-rotate(287deg) brightness(103%) contrast(99%);
      }
    }
  
    @media (max-width: 1399.98px){
      width: 70%;
    }
    @media (max-width: 1199.98px){
      width: 95%;
    }
    @media (max-width: 991.98px){
      width: 100%;
      gap: var(--margin-6);
      img {
        width: 40%;
      }
    }
    @media (max-width: 767.98px){
      gap: var(--margin-4);
    }
    @media (max-width: 575.98px){
      gap: var(--margin-2);
    }
  
    .tab__menuName {
      font-family: var(--secondary-fontType);
      font-size: var(--font-body-lg);
      font-weight: var(--font-weight-R);
      line-height: var(--line-height01);
      letter-spacing: var(--letter-spacing03);
  
      @media (min-width: 768px) and (max-width: 991.98px){
        font-size: var(--font-body-md);
      } 
      @media (min-width: 576px) and (max-width: 767.98px){
        font-size: var(--font-body-sm);
      } 
      @media (max-width: 575.98px){
        font-size: var(--font-body-xs);
      }
    } 
  }

  &-content {
    display: none;
    transition: all .5s;
  }
}
.card__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--gap-gutter);

  @media (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--gap-gutter);
  }
}
.content {
  &__hashtag {
    display: flex;
    align-items: center;
    gap: var(--margin-8);

    @media (min-width: 992px) and (max-width: 1199.98px) {
      gap: var(--margin-6);
    }
    @media (max-width: 991.98px) {
      gap: var(--margin-4);
    }
    @media (max-width: 575.98px) {
      gap: var(--margin-2);
    }

    .hashtag__details {
      padding: 0 var(--margin-10);
      border-radius: 16px;
      font-size: var(--font-body-sm);
      font-weight: var(--font-weight-R);
      line-height: var(--line-height03);
      color: var(--white-color);
      margin-top: var(--margin-8);
      margin-bottom: var(--margin-12);
  
      &.tag-bg01 {
        background: var(--tag-bg-color);
      }
      &.tag-bg02 {
        background: var(--accent-color);
      }
      @media (max-width: 1199.98px) {
        margin-bottom: var(--margin-10);
      }
      @media (max-width: 991.98px) {
        font-size: var(--font-body-xs);
        margin-top: var(--margin-6);
        margin-bottom: var(--margin-8);
      }
      @media (max-width: 767.98px) {
        padding: 0 var(--margin-6);
      }
      @media (max-width: 575.98px) {
        letter-spacing: var(--letter-spacing01);
        margin-top: var(--margin-4);
        margin-bottom: var(--margin-6);
      }
    }
  }

  &__details {
    font-size: var(--font-body-xl);
    color: var(--black-color);
  
    .details {
      &__name {
        font-weight: var(--font-weight-R);
        line-height: var(--line-height02);
        letter-spacing: var(--letter-spacing02);
      }
      &__price {
        font-weight: var(--font-weight-S);
        line-height: var(--line-height01);
        letter-spacing: var(--letter-spacing03);
      }
    }
  
    @media (max-width: 991.98px) {
      font-size: var(--font-body-lg);
    }
  }
}

// header
header {
  position: relative;
  height: 80px;

  @media (max-width: 767.98px) {
    height: 60px;
  }
}
.navbar {
  height: inherit;
  background: var(--accent-color);
  margin: 0; padding: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translateY(0);
  transition: transform .5s ease-in-out;

  &.navbarHide {
    transform: translateY(-100%);
  }

  &__logo {
    flex: 0 0 auto;
  }

  &__gnb {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 767.98px) {
      height: calc(100vh - 60px);
      background: var(--accent-color);
      position: absolute;
      top: 60px;
      right: 0;
      flex-direction: column;
      justify-content: flex-start;
      gap: 2.63rem;
      padding: 10% 15%;
      transition: all .3s ease-in-out;
      transform: translateX(100%);
      opacity: 0;
      &.active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__menu {
    display: flex;
    gap: 7.5rem;

    @media (min-width: 1200px) and (max-width: 1399px){
      gap: 6.25rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px){
      gap: 5rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      gap: 2.5rem;
    }
    @media (max-width: 767.98px) {
      gap: 2.25rem;
      flex-direction: column;
      margin: 0 auto;

      li {
        text-align: end;
      }
    }
  }

  &__menuList {
    position: relative;
    padding: var(--margin-10) var(--margin-2);

    font-family: var(--secondary-fontType);
    font-size: var(--font-body-xl);
    font-weight: var(--font-weight-S);
    letter-spacing: var(--letter-spacing04);
    color: var(--white-color);

    @media (max-width: 767.98px) {
      font-size: var(--font-body-xxl);
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: var(--white-color);
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform .3s;
    }
    &:hover {
      &::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }

  &__ghostBtn {
    width: 36px;
    height: 24px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: var(--white-color);
      border-radius: 10px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .3s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 10px;
      }
      &:nth-child(4) {
        top: 20px;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          width: 0%;
          top: 18px;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          width: 0%;
          top: 18px;
          left: 50%;
        }
      }
    }
  }
}

// footer
footer {
  background: var(--gray-color);
  color: var(--black-color);
  padding: 5% 0;
}
.footer {
  &__content {
    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: var(--gap-gutter);
    }
  }
  
  &__desc {
    column-gap: var(--gap-gutter);
    margin-top: var(--gap-gutter);

    @media (max-width: 767.98px) {
      column-gap: var(--margin-12);
      justify-content: center;
      margin-top: var(--margin-16);
    }

    p {
      font-size: var(--font-body-md);
      font-weight: var(--font-weight-R);
      line-height: var(--line-height03);
      letter-spacing: var(--letter-spacing03);
      span {
        font-weight: var(--font-weight-S);
      }
    }
  }

  &__contact {
    font-size: 26px;
    font-weight: var(--font-weight-S);
    line-height: var(--line-height01);
    text-align: center;
  }

  &__social {
    margin-top: var(--gap-gutter);
    gap: var(--margin-12);
    img {
      cursor: pointer;
    }

    @media (max-width: 767.98px) {
      margin-top: var(--margin-16);
    }
  }
}