@import 'common.scss';

.gallery__grid {
  display: grid !important; 
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  &:hover {
    img {
      filter: grayscale(1);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
  
  img {
    border-radius: var(--borderRadius-15);
    transition: all .5s ease-in-out;
  }
}

.slick-dots {
  position: static;
  margin-top: var(--gap-gutter);

  li {
    button:before {
      font-size: var(--font-body-sm);
      color: var(--quote-color);
    }
    &.slick-active {
      button:before {
        color: var(--accent-color);
      }
    }
  }
}