@import 'common.scss';

.only-sm-block {
  display: none;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .only-sm {
    &-hide {
      display: none;
    }
    &-block {
      display: block;
    }
  }
}

.sec01 {
  &__mainContent {
    padding: var(--gap-gutter) 0;
    @media (max-width: 1199.98px) {
      padding: var(--margin-12) 0;
    }
    @media (max-width: 991.98px) {
      padding: 0;
    }
    @media (max-width: 575.98px) {
      padding: var(--gap-gutter) var(--gap-gutter) 0 var(--gap-gutter);
    }
  }
  &__mainTitle {
    font-weight: var(--font-weight-S);
    line-height: var(--line-height02);
    font-size: 42px;
  }
  &__mainSubTitle {
    font-weight: var(--font-weight-R);
    line-height: var(--line-height02);
    letter-spacing: var(--letter-spacing01);
    font-size: 22px;
  }
  &__hashtag {
    font-weight: var(--font-weight-R);
    line-height: var(--line-height01);
    letter-spacing: var(--letter-spacing02);
    color: #757575;
    font-size: var(--font-body-md);
    margin-top: 1rem;

    span:nth-of-type(2) {
      padding: 0 var(--margin-12);

      @media (max-width: 991.98px) {
        padding: 0 var(--margin-6);
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    &__mainTitle {
      font-size: 38px;
    }
    &__mainSubTitle {
      font-size: 20px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    &__mainTitle {
      font-size: 34px;
    }
    &__mainSubTitle {
      font-size: 20px;
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    &__mainTitle {
      font-size: 30px;
    }
    &__mainSubTitle {
      font-size: 16px;
    }
    &__hashtag {
      font-size: var(--font-body-sm);
      margin-top: var(--margin-8);
    }
  }
  @media (max-width: 767.98px) {
    &__mainTitle {
      font-size: 26px;
    }
    &__mainSubTitle {
      font-size: 14px;
    }
    &__hashtag {
      font-size: var(--font-body-xs);
      margin-top: var(--margin-6);
    }
  }

  &__btn {
    display: flex;
    align-items: stretch;
    gap: var(--margin-12);

    margin-top: 42px;
    
    &-modal, &-share {
      border-radius: 10px;
    }
    &-modal {
      flex: 10;
      background: var(--black-color);
      
      font-weight: var(--font-weight-S);
      line-height: var(--line-height01);
      letter-spacing: var(--letter-spacing04);
      color: var(--white-color);
      font-size: var(--font-body-xl);
    }
    &-share {
      flex: 1;
      border: 2px solid var(--black-color);
      padding: 10px;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
      margin-top: 32px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      gap: var(--margin-8);
      margin-top: var(--gap-gutter);
      &-modal {
        font-size: var(--font-body-lg);
      }
      &-share {
        padding: 6px;
      }
    }
    @media (max-width: 767.98px) {
      gap: var(--margin-6);
      margin-top: var(--margin-16);
      &-modal {
        flex: 8;
        font-size: var(--font-body-md);
      }
      &-share {
        padding: 4px;
      }
    }
  }
}

.modal{
  &-header{
    border-bottom: none;
  }
  &-footer{
    border-top: none;
  }
  .btn-close{
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }
}
.reservation {
  &__personal {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }
  &__personalList {
    width: 86%;

    @media (max-width: 991.98px) {
      width: 70%;
      margin-top: var(--gap-gutter);
    }
  }
  &__data {
    label {
      font-size: var(--font-body-lg);
      padding-left: var(--margin-8);

      @media (max-width: 991.98px) {
        font-size: var(--font-body-md);
        padding-left: var(--margin-6);
      }
    }
    input {
      padding: var(--margin-8);
      border-radius: 10px;
      border: 1px solid rgba($color: $black-color, $alpha: .4);
      background: var(--gray-color);
      @media (max-width: 991.98px) {
        padding: var(--margin-6);
      }
      &::placeholder {
        font-size: var(--font-body-md);
        @media (max-width: 991.98px) {
          font-size: var(--font-body-sm);
        }
      }
      &:focus {
        outline: none;
      }

    }
  }
  &__checkbox {
    &--accent {
      accent-color: var(--accent-color);
      &:focus {
        outline: none;
      }
    }
    label {
      font-size: var(--font-body-md);
      @media (max-width: 991.98px) {
        font-size: var(--font-body-sm);
      }
    }
  }
  &__btn {
    button {
      width: 100%;
      background-color: var(--quote-color);
      border-radius: 10px;
      padding: var(--margin-8) 0;

      font-size: var(--font-body-lg);
      letter-spacing: var(--letter-spacing03);
      color: var(--white-color);

      &:hover, &:focus {
        background: var(--accent-color);
      }

      @media (max-width: 991.98px) {
        font-size: var(--font-body-md);
      }
    }
  }
}

// flatpickr
.flatpickr-calendar{
  box-shadow: none;
  font-family: var(--secondary-fontType);
}
.flatpickr-months{
  background: var(--gray-color);
  border-radius: 50px;
  padding-top: var(--margin-4);
  padding-bottom: var(--margin-4);
}
.flatpickr-current-month select {
  -webkit-appearance: none !important;
  appearance: none !important;
  background: transparent !important;
  border: none !important;
  padding-right: 0 !important;
  cursor: pointer;
  background-image: none !important; 
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
  background: var(--accent-color);
  color: var(--white-color);
  border: none;
}
.flatpickr-day.today {
  border-color: var(--accent-color);
}
.flatpickr-current-month input.cur-year, .flatpickr-current-month .flatpickr-monthDropdown-months{
  font-size: var(--font-body-lg);
}
.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month{
  position: static;
}
.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg{
  vertical-align: super;
  line-height: 0;
}
.flatpickr-current-month .flatpickr-monthDropdown-months{
  text-align: center;
}
.flatpickr-innerContainer{
  margin-top: var(--margin-18);
}
.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg{
    fill: var(--gray-color);
}
.flatpickr-day:hover{
    background: var(--gray-color);
}

.main__sectionTitle {
  font-family: var(--primary-fontType);
  font-weight: var(--font-weight-B);
  line-height: var(--line-height01);
  letter-spacing: var(--letter-spacing02);
  color: var(--accent-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;;
  font-size: 2.375rem;

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    gap: 1.75rem;
    font-size: 2.25rem;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    gap: 1.5rem;
    font-size: 2rem;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    gap: 1.25rem;
    font-size: 1.75rem;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    gap: 1rem;
    font-size: 1.5rem;
  }
  @media (max-width: 575.98px) {
    gap: .75rem;
    font-size: 1.25rem;
  }
  &::before, &::after {
    content: "";
    display: block;
    width: 1.375rem;
    height: 1.06rem;

    @media (min-width: 576px) and (max-width: 767.98px) {
      width: 1rem;
      height: 0.81rem;
    }
    @media (max-width: 575.98px) {
      width: 0.875rem;
      height: 0.69rem;
    }
  }
  &::before {
    background: url('../images/product/quote-before.svg') no-repeat center center;
    background-size: contain;
  }
  &::after {
    background: url('../images/product/quote-after.svg') no-repeat center center;
    background-size: contain;
  }
}

.card {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--gap-gutter);
    row-gap: 2.625rem;

    @media (min-width: 1200px) and (max-width: 1399.98px) {
      row-gap: 2.375rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      row-gap: 2.125rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
      row-gap: 1.625rem;
    }
    @media (max-width: 767.98px) {
      row-gap: var(--gap-gutter);
    }
    @media (max-width: 575.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

article {
  .sub__sectionSubTitle {
    font-weight: var(--font-weight-S);
    margin-top: var(--margin-16);
  }
  .body__scale01 {
    font-weight: var(--font-weight-R);
    margin: 0;
  }
}

#map {
  width: 100%;
  aspect-ratio: 21 / 9;

  @media (max-width: 767.98px) {
    aspect-ratio: 14 / 9;
  }
  @media (max-width: 575.98px) {
    aspect-ratio: 21 / 9;
    margin-bottom: var(--gap-gutter);
  }
}

.sec05 {
  &__information {
    height: 100%;
    border: 2px solid rgba($color: $black-color, $alpha: .4);
    border-radius: var(--borderRadius-20);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 42px;

    @media (max-width: 991.98px) {
      padding-left: 24px;
    }
    @media (max-width: 767.98px) {
      padding-left: 14px;
    }
    @media (max-width: 575.98px) {
      padding-left: 0;
      flex-direction: row;
      justify-content: space-around;
    }

    article {
      .sub__sectionSubTitle {
        margin-top: 0;
      }
      @media (max-width: 575.98px) {
        padding: var(--gap-gutter) 0;
        &.title-mb__main {
          margin-bottom: 0;
        }
      }
    }
  }
}