@import 'common.scss';


header{
    position: relative;
    height: 80px;
    nav{
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: var(--primary-color);
        .container{
            height: inherit;
        }
        .navbar-menu{
            ul li:not(:last-child){
                margin-right: var(--padding-68);
            }
            .gnb-menu{
                position: relative;
                padding: var(--margin-10) var(--margin-2);
                &::after{
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: var(--secondary-scale01);
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.3s;
                }
                &:hover {
                    &:after {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }
        }
        .navbar-toggle{
            width: 36px;
            height: 24px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: var(--secondary-scale01);
                border-radius: 10px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2), &:nth-child(3){
                    top: 10px;
                }
                &:nth-child(4){
                    top: 20px;
                }         
            }
            &.open{
                span{
                    &:nth-child(1){
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4){
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
}

.sub-kv{
    padding-top: var(--padding-120);
    padding-bottom: var(--padding-76);
}

.subpage-subtitle{
    margin-bottom: var(--padding-42);
}
.product-info_title{
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-400);
    color: var(--gray-scale01);
}

.sub01-section02{
    padding-top: var(--padding-76);
    padding-bottom: var(--padding-76);
    p{
        padding-left: var(--margin-12);
        padding-right: var(--margin-12);
    }
    .sub01-sec02_content_text p:last-child{
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-200);
        color: var(--gray-scale01);
    }
    .product-info_title{
        margin-top: var(--margin-18);
    }
}

.sub01-section03{
    padding-top: var(--padding-76);
    padding-bottom: var(--padding-120);
    p{
        padding-left: var(--margin-12);
        padding-right: var(--margin-12);
    }
    .tab-list{
        margin-bottom: var(--padding-76);
    }
    .tab-icon{
        width: 8.75rem;
        height: 8.75rem;
        background-color: var(--gray-scale02);
        border-radius: 100%;
        padding-top: var(--padding-32);
        padding-bottom: var(--padding-30);
        transition: all .5s;
        cursor: pointer;
        p{
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-400);
            letter-spacing: var(--letter-spacing);
            color: var(--gray-scale01);
            margin-top: var(--margin-6);
        }
        &:hover, &.active{
            background-color: var(--gray-scale01);
            img{
                filter: invert(99%) sepia(100%) saturate(1%) hue-rotate(287deg) brightness(103%) contrast(99%);
            }
            p{
                color: var(--secondary-scale01);
            }
        }
    }
    .tab-content{
        display: none;
        &.active{
            display: block;
        }
        .row{
            row-gap: var(--margin-24);
        }
        .row:not(:first-child, :last-child){
            margin-bottom: var(--margin-24);
        }
    }
    .product-content{
        margin-left: var(--margin-12);
        gap: var(--margin-8);
        .product-info_tag{
            padding: var(--margin-4) var(--margin-10);
            border-radius: 20px;
            font-size: var(--font-size-12);
            font-weight: var(--font-weight-400);
            color: var(--secondary-scale01);
            &.hashtag01{
                background-color: var(--font-scale03);
            }
            &.hashtag02{
                background-color: var(--primary-color);
            }
        }
    }
    .product-info{
        p:last-child{
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-500);
            letter-spacing: var(--letter-spacing);
            color: var(--gray-scale01);
        }
        .product-info_title{
            margin-top: var(--margin-14);
            margin-bottom: var(--margin-2);
        }
    }

}


footer {
    background-color: var(--primary-color);
    .row{
        gap: var(--margin-24);
    }
    .footer-content__text{
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-200);
        letter-spacing: var(--letter-spacing);
        color: var(--font-scale03);
    }
    .footer-content_top{
        column-gap: var(--margin-24);
        row-gap: var(--margin-8);
        margin-top: var(--margin-20);
        span {
            font-weight: var(--font-weight-400);
        }
    }
    .footer-content_bottom {
        .content_bottom__title {
            font-size: var(--font-size-26);
            font-weight: var(--font-weight-400);
            letter-spacing: var(--letter-spacing);
            color: var(--secondary-scale02);
        }
        .content-bottom__icon {
            margin-top: var(--margin-18);
            gap: var(--margin-12);
            img {
                cursor: pointer;
            }
        }
    }
}



@media(max-width:1199.98px){
    footer {
        .footer-content_top{
            column-gap: var(--margin-16);
        }
    }
    
    .sub01-section03{
        .tab-icon{
            width: 8.5rem;
            height: 8.5rem;
            padding-top: var(--padding-30);
            padding-bottom: 1.81rem;
        }
    }
}

@media (max-width: 991.98px){
    header{
        nav{
            .navbar-menu{
                ul li:not(:last-child){
                    margin-right: var(--padding-48);
                }
            }
        }
    }

    .sub01-section03{
        .tab-icon{
            width: 6rem;
            height: 6rem;
            padding: .94rem 0;
            img{
                width: 40%;
            }
            .tab-icon_text{
                margin-top: var(--margin-4);
                letter-spacing: 0;
            }
        }
    }
}

@media (max-width:767.98px){
    header{
        nav{
            .navbar-menu{
                background-color: var(--primary-color);
                transition: all .3s ease-in-out;
                display: none;
                &.active{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: calc(100vh - 80px);
                    left: 0;
                    top: 80px;
                    ul{
                        flex-direction: column;
                        width: 540px;
                        margin: 0 auto;
                        padding: 0 var(--margin-12);
                        li:first-child{
                        margin-top: var(--padding-48);
                        }
                        li:not(:first-child){
                            margin-top: var(--margin-24);
                        }
                        .gnb-menu{
                            font-size: var(--font-size-20);
                        }
                    }
                    .navbar-social{
                        margin-top: var(--padding-54);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    footer {
        .footer-content_logo{
            text-align: center;
        }
        .footer-content_top{
            justify-content: center;
        }
    }
}

@media(max-width:575.98px){

}