@import 'common.scss';

.card {
  &__grid {
    row-gap: var(--gap-gutter);
  }
  &-content {
    img {
        border-radius: var(--borderRadius-20);
    }
  }
}
.content {
  &__hashtag, &__details {
    padding: 0 var(--margin-12);

    @media (min-width: 768px) and (max-width: 991.98px) {
      padding: 0;
    }
  }
}