@import 'common.scss'; 
html {
    scroll-behavior: smooth;
}

header{
    position: relative;
    height: 80px;
    nav{
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: var(--primary-color);
        .container{
            height: inherit;
        }
        .navbar-menu{
            ul li:not(:last-child){
                margin-right: var(--padding-68);
            }
            .gnb-menu{
                position: relative;
                padding: var(--margin-10) var(--margin-2);
                &::after{
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: var(--secondary-scale01);
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.3s;
                }
                &:hover {
                    &:after {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }
        }
        .navbar-toggle{
            width: 36px;
            height: 24px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: var(--secondary-scale01);
                border-radius: 10px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;

                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2), &:nth-child(3){
                    top: 10px;
                }
                &:nth-child(4){
                    top: 20px;
                }         
            }
            &.open{
                span{
                    &:nth-child(1){
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4){
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
}
.kv {   
    .slide_image-lg{
        display: flex;
        justify-content: space-between;
    }
    .slide_image-md{
        display: none;
    }
}
.section02 {
    .tab-content>.active {
        display: flex;
    }
}
.section03 {
    .sec03-right_image{
        gap: var(--margin-24);
    }
    .sec03_btn{
        background-color: transparent;
        border: none;
        position: relative;
        overflow: hidden;

        span{
            display: inline-block;
            font-size: var(--font-size-14);
            font-weight: var(--font-weight-400);
            letter-spacing: var(--letter-spacing);
            color: var(--disabled-color);
            padding: var(--margin-8) var(--margin-10);
            transition: all .5s ease-in-out;

            &::before{
                bottom: 0;
                left: 0;
                border-left: 2px solid var(--disabled-color);
                border-bottom: 2px solid var(--disabled-color);
            }
            &::after{
                bottom: 0;
                right: 0;
                border-right: 2px solid var(--disabled-color);
                border-bottom: 2px solid var(--disabled-color);
            }
        }
        &::before{
            top: 0;
            left: 0;
            border-left: 2px solid var(--disabled-color);
            border-top: 2px solid var(--disabled-color);
        }
        &::after{
            top: 0;
            right: 0;
            border-right: 2px solid var(--disabled-color);
            border-top: 2px solid var(--disabled-color);
        }
        &::before, &::after, span::before ,span::after{
            content: "";
            position: absolute;
            width: 10%;
            height: 25%;
            transition: all .5s ease-in-out;
            z-index: 2;
        }
        &:hover::before, &:hover::after, &:hover span::before, &:hover span::after{
            width: 99%;
            height: 98%;
        }

    }
}
.sec04_title, .sec06_title {
    margin-bottom: var(--margin-18);
}
.section05 {
    .sec05-slide img{
        border-radius: var(--border-radius);
    }
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
    .slick-dots{
        position: static;
        margin-top: var(--margin-12);
    }
}
footer {
    background-color: var(--primary-color);
    .row{
        gap: var(--margin-24);
    }
    .footer-content__text{
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-200);
        letter-spacing: var(--letter-spacing);
        color: var(--font-scale03);
    }
    .footer-content_top{
        column-gap: var(--margin-24);
        row-gap: var(--margin-8);
        margin-top: var(--margin-20);
        span {
            font-weight: var(--font-weight-400);
        }
    }
    .footer-content_bottom {
        .content_bottom__title {
            font-size: var(--font-size-26);
            font-weight: var(--font-weight-400);
            letter-spacing: var(--letter-spacing);
            color: var(--secondary-scale02);
        }
        .content-bottom__icon {
            margin-top: var(--margin-18);
            gap: var(--margin-12);
            img {
                cursor: pointer;
            }
        }
    }
}



@media(max-width:1399.98px){


}

@media(max-width:1199.98px){
    footer {
        .footer-content_top{
            column-gap: var(--margin-16);
        }
    }
    .ornament-img {
        width: 80%;
    }
    .section06 {
        .text-end .ornament-img{
            margin-left: auto;
        }
    }
}

@media(max-width:1023.98px){
    
}

@media (max-width: 991.98px){
    header{
        nav{
            .navbar-menu{
                ul li:not(:last-child){
                    margin-right: var(--padding-48);
                }
            }
        }
    }
    .section03 {
    .sec03-right_image{
        gap: var(--margin-24);
    }
    .sec03_btn{
        span{
            // letter-spacing: var(--letter-spacing);
            padding: var(--margin-6) var(--margin-8);
        }
    }
    .sec04_title, .sec06_title {
        margin-bottom: var(--margin-14);
    }
}
}

@media (max-width:767.98px){
    header{
        nav{
            .navbar-menu{
                background-color: var(--primary-color);
                transition: all .3s ease-in-out;
                display: none;
                &.active{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: calc(100vh - 80px);
                    left: 0;
                    top: 80px;
                    ul{
                        flex-direction: column;
                        width: 540px;
                        margin: 0 auto;
                        padding: 0 var(--margin-12);
                        li:first-child{
                        margin-top: var(--padding-48);
                        }
                        li:not(:first-child){
                            margin-top: var(--margin-24);
                        }
                        .gnb-menu{
                            font-size: var(--font-size-20);
                        }
                    }
                    .navbar-social{
                        margin-top: var(--padding-54);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .kv {   
        .kv-slide_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .slide_image-lg{
            display: none;
        }
        .slide_image-md{
            width: 66%;
            display: block;
        }
    }
    .section02 {
        .tab-content>.row{
            row-gap: 1.5rem;
        }
    }
    .section03 {
        .sec03-title{
            margin-bottom: var(--margin-32);
        }
    }
    .sec04_title, .sec06_title {
        margin-bottom: var(--margin-10);
    }
    footer {
        .footer-content_logo{
            text-align: center;
        }
        .footer-content_top{
            justify-content: center;
        }
    }
}

@media(max-width:575.98px){
    .section03 {
        .sec03-title{
            margin-bottom: var(--margin-24);
        }
    }

}