@import 'common.scss'; 

.w-33{
    width: 33%;
}





button{
    border: none;
    background: none;
}

.tab-content>.active {
    display: flex;
}

@media(max-width:768px){
    .navbar-toggler{
        border: none;
        outline: none;
    }
}